<form id="add-comic">
    <div class="row">
        <div class="col-3">
            <input type="text" id="issue-number" name="issue" placeholder="Issue">
        </div>
        <div class="col-9">
            <input type="text" id="comic-title" name="title" placeholder="Title">
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <select name="category" id="category">
                <option value="">Select...</option>
                <option value="single-issue">Single Issue</option>
                <option value="tpb">Trade Paper Back</option>
                <option value="omnibus">Omnibus</option>
            </select>
        </div>
        <div class="col-3">
            <input type="text" id="publisher" name="publisher" placeholder="Publisher">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="checkbox" id="read" name="read">
            <label for="read">Have you read this issue yet?</label>
        </div>
    </div>
    <button type="submit">Submit</button>


</form>