<div>
    <table class="table">
        <thead>
            <tr>
                <th>Issue</th>
                <th>Title</th>
                <th>Publisher</th>
                <th>Category</th>
                <th>Read</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="comic-list"></tbody>
    </table>
</div>