<div class="container">
    <form id="add-comic">
        <div class="row">
            <div class="input-field col s2">
                <input type="text" id="issue-number" name="issue" placeholder="Issue">
            </div>
            <div class="input-field col s7">
                <input type="text" id="comic-title" name="title" placeholder="Title">
            </div>
            <div class="col s2 input-field">
                <label>
                    <input type="checkbox" name="read" id="read">
                    <span>Read</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <select name="category" id="category">
                    <option value="" disabled selected>Select a Category</option>
                    <option value="Single Issue">Single Issue</option>
                    <option value="Collection">Collection</option>
                    <option value="Graphic Novel">Graphic Novel</option>
                    <option value="Trade Paperback">Trade Paperback</option>
                    <option value="Omnibus">Omnibus</option>
                </select>
            </div>
            <div class="input-field col s3">
                <input type="text" id="publisher" name="publisher" placeholder="Publisher">
            </div>
            <div class="input-field col s3">
                <input type="text" id="artist" name="artist" placeholder="Artist">
            </div>
            <div class="input-field col s3">
                <input type="text" id="writer" name="writer" placeholder="Writer">
            </div>
        </div>
        <div class="row">
            
        </div>
        <button type="submit">Submit</button>
    </form>
</div>