<div class="modal container" id="addComicModal">
    <form id="add-comic">
        <div class="row">
            <div class="col s3">
                <input type="text" id="issue-number" name="issue" placeholder="Issue">
            </div>
            <div class="col s7">
                <input type="text" id="comic-title" name="title" placeholder="Title">
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <select name="category" id="category">
                    <option value="">Select...</option>
                    <option value="Single Issue">Single Issue</option>
                    <option value="Collection">Collection</option>
                    <option value="Graphic Novel">Graphic Novel</option>
                    <option value="Trade Paperback">Trade Paperback</option>
                    <option value="Omnibus">Omnibus</option>
                </select>
            </div>
            <div class="col s3">
                <input type="text" id="publisher" name="publisher" placeholder="Publisher">
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <input type="checkbox" id="read" name="read">
                <label for="read">Have you read this issue yet?</label>
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>