<footer>
    <p>Made by pix0id</p>
</footer>

    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>