<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- Materialize Icon Font --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.min.css">
    {{!-- Custom Styles --}}
    <link rel="stylesheet" href="css/styles.css">
    <title>{{siteTitle}}</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">{{ title }}</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/collection">Collection</a></li>
                    <li><a class="disabled" href="/account">Account</a></li>
                </ul>

                <ul class="sidenav" id="mobile-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/collection">Collection</a></li>
                    <li><a class="disabled" href="/account">Account</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">